
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color:#DA627D;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: cente;
  padding: 14px 16px;
  text-decoration: none;
  width: 200px;
}
li a:hover {
  background-color:#FFA5AB;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
main{

  background-color:#f2f2f2;
  border-radius: 4px;
  float: left;
  text-align: left; 
  color: black; 
}

p.cent{
  text-align: center;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color:#f2f2f2;
  padding: 20px;
}

.par1{
  border-style: solid;
  text-align: center;
  margin: auto;
  width: 20%;
}
.par2{
  border-style: solid;
  width: 20%;

}
.par3{
  border-style: solid;
  width: 10%;
  
}
table{
  border-style: solid;
  background-color: #ccc;
  color: black;
  width: 100%;

}
p{
  border-style: solid;
  background-color:#ccc;
  color: black ;

}
/*gallery of images and video */

.gallery {
  margin: 20px;
  border: 5px solid #FFA5AB;
  float: left ;
  width: 140px;
}

.gallery:hover {
  border: 0.5px solid #F9DBBD;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
  color: black;
}
body {
	background-color:#450920;
	text-align: center;
	color: white;
	margin: 0;
	padding: 0;
}










